<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>Home</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDropdown'
                        role='button'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'
                    >
                        <img
                            src='https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-1/263498346_3200541133554779_8238027386307341084_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=1ZO0yTQsFBEAX9RnHRJ&_nc_ht=scontent.fsgn5-8.fna&oh=00_AfBLfh2pBJfAe7iGDR9JDeuNhX43p5Tjs6aPSlcnch1pAQ&oe=63933167'
                            alt=''
                            class='user-avatar'
                        />
                        Đăng Minh
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/courses/create'>Thêm khóa học</a>
                        <a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#'>Đăng xuất</a>
                    </div>
                </li>
            </ul>
            <form class='form-inline my-2 my-lg-0'>
                <input
                    class='form-control mr-sm-2'
                    type='search'
                    placeholder='Search'
                    aria-label='Search'
                />
                <button
                    class='btn btn-outline-success my-2 my-sm-0'
                    type='submit'
                >Search</button>
            </form>
        </div>
    </div>
</nav>